<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Tarfas Em Node</title>
        <link href="/public/style.css" rel="stylesheet" />
</head>
<body>

    <div class="tarefas">
        <h1>Lista de Tarefas Com Node.JS</h1>
        <form method="post">
            <input type="text" class="input-slide" name="tarefa" />
            <input type="submit" name="acao" class="inputiz" value="Inserir Tarefa" />

        </form>

        <% for(let i = 0; i < tarefasList.length; i++){ %>

            <p><%= tarefasList[i] %> <a href="/deletar/<%= i %>">X</a></p>

       <% } %>

    </div>
</body>
</html>